# Práctica No. 10: Aplicando K-Means

In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

paises = pd.read_csv('infoPaises.csv', index_col = 0)
paises

,Income Group,CO2 emissions (metric tons per capita),GDP per capita (current US$),"Life expectancy at birth, total (years)"
Short Name,,,,
Afghanistan,Low income,0.223479,516.866797,62.575
Angola,Lower middle income,0.592743,1502.950754,62.261
Albania,Upper middle income,1.544550,5343.037704,76.989
United Arab Emirates,High income,20.252272,37629.174168,78.946
Argentina,Upper middle income,3.405618,8496.428157,75.892
...,...,...,...,...
Samoa,Lower middle income,0.960782,4042.722715,72.768
Yemen,Low income,0.308515,583.875663,64.650
South Africa,Upper middle income,6.687563,5741.641249,65.252
Zambia,Lower middle income,0.401903,956.831747,62.380
Zimbabwe,Lower middle income,0.530484,1372.696674,61.124

In [9]:
co2 = paises['CO2 emissions (metric tons per capita)']

Short Name
Afghanistan              0.223479
Angola                   0.592743
Albania                  1.544550
United Arab Emirates    20.252272
Argentina                3.405618
                          ...
Samoa                    0.960782
Yemen                    0.308515
South Africa             6.687563
Zambia                   0.401903
Zimbabwe                 0.530484
Name: CO2 emissions (metric tons per capita), Length: 185, dtype: float64